.navbutton{
    background-color: forestgreen;
    width: 100px;
    text-align: center;
    padding: 11px 25px;
    display: inline-block;
    position: relative;
}

.dropdownbox{
    display: none;
    position: absolute;
    z-index: 99;
    padding-top: 15px;
    margin-left: -28px;
}

.navbutton:hover .dropdownbox{
    display: block;
    
}

.dropdownbox .navbutton{
    background-color: cornflowerblue;
}


.dropdownbox .navbutton:hover{
    background-color: rgb(255, 192, 192);
    transition-duration: 500ms;
} 